/* Place CSS styles here */
img {
    width: 100%;
  }
  
  h2 {
    color: blue;
  }
  
  .uglybutton {
    color: orange;
  }
  
  #container {
    color: purple;
  }
 
  

  
  .container {
    width: auto;
    background-color: rgb(248, 220, 242);
  }
  
  .container-wrapper {
    background-color: #dcdcdc;
  }
  
  .button {
    color: hwb(0 5% 94%);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 12px;
    text-decoration: none;
    margin: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  
  .button:hover,
  .button:focus {
    background-color: #f3a6e2;
  }
  
  .button:focus {
    border: 1px solid #d3d136;
  }
  
  .button-small {
    font-size: 12px;
  }
  
  /* HEADER STYLES */
  .main-header {
    display: flex;
    justify-content: space-between;
  }
  
  .main-nav {
    justify-content: center;
    display: flex;
    background-color: #ffffff;
  }
  
  .main-nav .button {
    margin-right: 8px;
  }
  
  /* START HOMEPAGE STYLES */
  
  /* END HOMEPAGE STYLES */
  
  /* START ABOUT STYLES */
  .about-wrapper {
  
  }
  
  .about-featured-items {
    display: flex;
  }
  
  .about-featured-item {
    margin-right: 4px;
    border: 1px solid black;
  }
  /* END ABOUT STYLES */
  
  .items {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
  }


  h1 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .wrapper {
    display: flex;
  }
  
  .wrapper-container {
    align-self: center;
    margin-left: auto;
  }

  .space {
    width: 4px;
    height: auto;
    display: inline-block;
  }